<div class="row">
  <div class="col-sm-12">
    <form id="login_form">
      <div class="form-group">
        <label for="username_input">{{ chrome_t 'usernamePlaceholder' }}</label>
        <input required="required" type="text" class="form-control" placeholder="{{ chrome_t 'usernamePlaceholder' }}" name="username">
      </div>
      <div class="form-group">
        <label for="password_input">{{ chrome_t 'passwordPlaceholder' }}</label>
        <input required="required" type="password" class="form-control" id="password_input" placeholder="{{ chrome_t 'passwordPlaceholder' }}" name="password">
      </div>
      <button type="submit" class="btn btn-success">{{ chrome_t 'loginButtonText' }}</button>
    </form>
    <a class="pull-right" href="/popup/registration.html">{{ chrome_t 'registrationLinkText' }}</a>
  </div>
</div>
