<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="form-group">
        <label for="ext_on">{{ chrome_t 'translateOnSelectText' }}</label>
        <div class="btn-group btn-group-justified" data-toggle="buttons">
          <label class="btn btn-success {{#unless isOff}}active{{/unless}}">
            <input type="radio" name="is_off" id="ext_on" autocomplete="off" value="">{{ chrome_t 'onText' }}
          </label>
          <label class="btn btn-danger {{#if isOff}}active{{/if}}">
            <input type="radio" name="is_off" id="ext_off" autocomplete="off" value="1">{{ chrome_t 'offText' }}
          </label>
        </div>
        <span id="helpBlock" class="help-block">{{ isOffShortcut }}</span>
      </div>
    </form>
    <p>{{ chrome_t 'loggedInAsText' }} {{ userInfo.username }}</p>
    <a href="#" id="logout">{{ chrome_t 'logoutLinkText' }}</a>
  </div>
</div>
