<div>
  <form id="registration_form">
    <input required="required" type="text" placeholder="{{ usernamePlaceholder }}" name="username">
    <input required="required" type="text" placeholder="{{ emailPlaceholder }}" name="email">
    <input required="required" type="password" placeholder="{{ passwordPlaceholder }}" name="password">
    <input type="submit" value="{{ registerButtonText }}">
  </form>
  <a href="/popup/router.html">{{ loginLinkText }}</a>
</div>